@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f4efe8;
}
::-webkit-scrollbar-thumb {
  background: #d5c4af;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #aa9275;
}
